.game-root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: black;
    color: white; */
}

.game-question-number {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    background-color: #302952;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fcfbff;
}

.game-button-group {
    margin-top: 10%;
    margin-left: 0.1rem;
    /* border: 2px solid red; */
    width: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.game-nav-buttons {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    width: 15rem;
}

.allQuestionNumbers {
    /* border: 2px solid red; */
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 3rem;
    margin-left: 1rem;
}

.finishGame-button {
    position: relative;
    bottom: 145px;
    left: 650px;
    color: black !important;
    background-color: white !important;
    border: 2px solid #f3a01f !important;
    font-size: 22px !important;
}